@font-face{
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Manrope-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face{
    font-family: "Manrope";
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/Manrope-Medium.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-Medium.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face{
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/Manrope-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-SemiBold.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-SemiBold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: "Manrope";
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Manrope-Bold.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-Bold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-Bold.ttf') format('truetype');
}

body, html {
    font-family: Manrope;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 130%;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    max-width: 1820px;
    margin: 50px auto;
}

.slider-photo {
    display: flex;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 36.25rem;
    max-height: 49.875rem;
    border-radius: 15px;
}

.main-image {
    border-radius: 2%;
    width: auto;
    object-fit: contain;
}


.slider-thumbnails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: 10.4375rem;
    height: auto;
    margin: 5px 0;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    border-radius: 10%;
}

.thumbnail.active, .thumbnail:hover {
    opacity: 1;
    border: 0.125rem solid;
}

.arrow {
    cursor: pointer;
    user-select: none;
    font-size: 24px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 143px;
    max-width: 55.625rem;
}

.title {
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.article {
    color: #00000080;
    font-weight: 400;
    font-size: 1.3125rem;
}

.rating {
    width: 11.1875rem;
    height: 2.25rem;
    margin-top: 0.9375rem;
    margin-bottom: 1.25rem;
    color: #ffd900;
}

.description {
    font-size: 1.3125rem;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: 400;
}

.price-block {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.price {
    color: #000000;
    font-weight: 500;
    font-size: 1.875rem;
    margin-right: 10px;
    line-height: 39px;
}

.old-price1 {
    font-size: 1.875rem;
    font-weight: 500;
    width: 150px;
    line-height: 39px;
    text-decoration: line-through; 
    color: #999; 
    display: inline; 
}

.unit-selector {
    margin-left: 14%;
    display: flex;
    background-color: #F4F4F6;
    border-radius: 50px;
}

.unit-button {
    width: 3.375rem; 
    height: 3.375rem;
    font-size: 1.3125rem;
    font-weight: 400;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #F4F4F6;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.unit-button.active {
    background-color: #000000;
    color: #eee;
}

.quantity-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10%;
}

.quantity-minus, .quantity-plus {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.3125rem; 
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c5c5c5;
    background-color: white;
}

.quantity-minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.quantity-input {
    text-align: center;
    border: 1px solid #c5c5c5;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 1.3125rem;
    width: 100px; 
    height: 50px;
}

.quantity-plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.quantity-block span {
    font-size: 1.3125rem; 
    margin: 0 10px; 
    color: #000000;
}





.unit {
    margin-left: 5px;
    font-size: 18px;
}

.actions {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    margin: auto; 
    margin-top: 5%;
}


.add-to-cart, .buy-now {
    width: 26.5625rem;
    height: 4.4375rem;
    border-radius: 50px;
    background-color: #000000;
    color: #fff;
    transition: background-color 0.3s;
    cursor: pointer; 
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 5px;
    text-align: center;
}

.add-to-cart:hover {
    background-color: #ffffff;
    color: #000;
}

.buy-now {
    border: 1px solid #000;
    background: #fff;
    color: #000000;
}

.buy-now:hover {
    background-color: #000000;
    color: #fffdfd;
}

.total-price-block {
    display: flex;
    flex-direction: column;
    line-height: 120%;
    font-size: 1.875rem;
    font-weight: bold;
    margin-left: 100px;
}

.total-text {
    color: rgba(0, 0, 0, 0.5);;
    font-size: 1.3125rem;
    font-weight: 400;
}

.total-text-2 {
    color: rgba(0, 0, 0, 0.5);;
    font-size: 1.3125rem;
    font-weight: 400;
}

.total-price {
    display: flex;
    align-items: baseline;
    font-size: 2.875rem;
    font-weight: 500;
    line-height: 59.8px;
}

.total-price .total {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

.discount-block {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

.old-price {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 39px;
    text-decoration: line-through; 
    color: #999; 
    display: inline; 
    margin-right: 10px; 
}

.discount-badge {
    background: #E0FB52;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    border-radius: 45px;
    font-size: 0.6em; 
}

.price-and-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}

.total1 {
    display: flex;
}




/* ПРОСТИ ГОСПОДИ НО ЭТО ЧТО ТО ПОХОЖЕЕ НА АДАПТИВ */
@media (max-width: 1199px) {
    .product-card {
        padding: 0 15px;
    }
    .product-info {
        margin-left: 43px;
    }
}
@media (max-width: 992px) {
    .product-card {
        flex-direction: column;
    }
    .slider-photo {
        justify-content: center;
        margin-bottom: 20px;
    }
    .product-info {
        margin-left: 0;
    }
    .total1 {
        flex-direction: column;
    }
    .total-price-block {
        margin-left: 0;
        align-items: flex-start;
    }
    .main-image {
        max-width: 350px;
        max-height: 459px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .thumbnail {
        max-width: 4.375rem;
        max-height: 18.625rem;
    }


}


  