@font-face{
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Manrope-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face{
    font-family: "Manrope";
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/Manrope-Medium.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-Medium.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face{
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/Manrope-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-SemiBold.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-SemiBold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: "Manrope";
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Manrope-Bold.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Manrope-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Manrope-Bold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Manrope-Bold.ttf') format('truetype');
}

body, html {
    font-family: Manrope;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 130%;
    box-sizing: border-box;
}


.product-card {
    display: flex;
    max-width: 113.75rem;
    margin: 40px 50px 60px 50px;
}

.slider-photo {
    display: flex;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 580px;
    max-height: 798px;
    border-radius: 15px;
}





.slider-thumbnails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: 160px;
    height: 160px;
    margin: 5px 0;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    border-radius: 10%;
}

.thumbnail.active, .thumbnail:hover {
    opacity: 1;
    border: 0.125rem solid;
}

.arrow {
    cursor: pointer;
    user-select: none;
    font-size: 24px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 143px;
    max-width: 55.625rem;
}

.title {
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.article {
    color: #00000080;
    font-weight: 400;
    font-size: 1.3125rem;
}

.rating {
    width: 11.1875rem;
    height: 2.25rem;
    margin-top: 0.9375rem;
    margin-bottom: 1.25rem;
    color: #ffd900;
}

.description {
    font-size: 1.3125rem;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: 400;
}

.price-block {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.price {
    color: #000000;
    font-weight: 500;
    font-size: 1.875rem;
    margin-right: 10px;
    line-height: 39px;
}

.old-price1 {
    font-size: 1.875rem;
    font-weight: 500;
    width: 150px;
    line-height: 39px;
    text-decoration: line-through; 
    color: #999; 
    display: inline; 
}

.unit-selector {
    margin-left: 14%;
    display: flex;
    background-color: #F4F4F6;
    border-radius: 50px;
}

.unit-button {
    width: 3.375rem; 
    height: 3.375rem;
    font-size: 1.3125rem;
    font-weight: 400;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #F4F4F6;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.unit-button.active {
    background-color: #000000;
    color: #eee;
}

.quantity-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10%;
}

.quantity-minus, .quantity-plus {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.3125rem; 
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c5c5c5;
    background-color: white;
}

.quantity-minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.quantity-input {
    text-align: center;
    border: 1px solid #c5c5c5;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 1.3125rem;
    width: 100px; 
    height: 50px;
}

.quantity-plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.quantity-block span {
    font-size: 1.3125rem; 
    margin: 0 10px; 
    color: #000000;
}





.unit {
    margin-left: 5px;
    font-size: 18px;
}

.actions {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    margin: auto; 
    margin-top: 5%;
}


.add-to-cart, .buy-now {
    width: 26.5625rem;
    height: 4.4375rem;
    border-radius: 50px;
    background-color: #000000;
    color: #fff;
    transition: background-color 0.3s;
    cursor: pointer; 
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 5px;
    text-align: center;
}

.add-to-cart:hover {
    background-color: #ffffff;
    color: #000;
}

.buy-now {
    border: 1px solid #000;
    background: #fff;
    color: #000000;
}

.buy-now:hover {
    background-color: #000000;
    color: #fffdfd;
}

.total-price-block {
    display: flex;
    flex-direction: column;
    line-height: 120%;
    font-size: 1.875rem;
    font-weight: bold;
    margin-left: 100px;
}

.total-text {
    color: rgba(0, 0, 0, 0.5);;
    font-size: 1.3125rem;
    font-weight: 400;
}

.total-text-2 {
    color: rgba(0, 0, 0, 0.5);;
    font-size: 1.3125rem;
    font-weight: 400;
}

.total-price {
    display: flex;
    align-items: baseline;
    font-size: 2.875rem;
    font-weight: 500;
    line-height: 59.8px;
}

.total-price .total {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

.discount-block {
    display: flex;
    align-items: end; 
    gap: 10px;
}

.old-price {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 39px;
    text-decoration: line-through; 
    color: #999; 
    display: inline; 
}

.discount-badge {
    background: #E0FB52;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 59px;
    height: 59px;
}

.price-and-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}

.total1 {
    display: flex;
}




@media (max-width: 1900px) {
    .product-info {
        margin-left: 70px;
    }

}
@media (max-width: 1800px) {
    .main-image-container {
        max-width: 420px;
        max-height: 660px;
    }
}
@media (max-width: 1620px) {
    .product-info {
        transform: scale(0.9);
    }
    .slider-photo {
        justify-content: center;
        transform: scale(0.9);
    }
    .thumbnails {
        gap: 10px;
    }
    .thumbnail {
        margin: 0;
    }
   
    .product-info {
        margin: 0 auto;
    }
}

@media (max-width: 1500px) {
    .product-card {
        margin: 40px 0 60px 0;
    }
    .product-info {
        transform: scale(0.8);
    }
    
}
@media (max-width: 1400px) {
    .product-card {
        transform: scale(0.9);
    }
    
    
}
@media (max-width: 1330px) {
    .product-card {
        display: flex;
        flex-direction: column;
        gap: 60px;
        transform: none;
    }
    .product-info {
        transform: none;
    }
    .slider-photo {
        justify-content: center;
        transform: none;
    }
    .thumbnails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .thumbnail {
        margin: 0;
    }
    .arrow {
        display: none;
    }
    
}

@media (max-width: 999px) {
    .product-card {
        margin: 40px 39px;
    }
    .main-image-container {
        width: 330px;
        height: 453px;
    }
    .slider-thumbnails-container {
        margin-left: 30px;
    }
    .add-to-cart, .buy-now {
        width: 350px;
        height: 65px;
    }
    .total-price {
        font-size: 36px;
    }
    .old-price {
        font-size: 31px;
        white-space: nowrap;
    }
    .discount-badge {
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width: 789px) {
    .thumbnails {
        grid-template-columns: 1fr ;
    }
    .thumbnail {
        width: 100px;
        height: 100px;
    }
    .arrow { 
        display: block;
    }
    .product-info {
        align-items: center;
    }
    .article {
        margin-right: auto;
    }
    .rating {
        margin-right: auto;
        margin-bottom: 5px;
    }
    .title {
        margin-right: auto;
    }
    .total1{
        flex-direction: column;
        align-items: center;
    }
    
    .total-price-block {
        flex-direction: row;
        margin-right: auto;
        margin-left: 0;
        gap: 15px;
    }
    
    .actions {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
}
@media (max-width: 555px) {
    .main-image-container {
        width: 242px;
        height: 332px;
    }
    .thumbnail {
        width: 70px;
        height: 70px;
    }
    .arrow svg { 
        width: 27px;
        height: 35px
    }
    .unit-button {
        width: 40px; 
        height: 40px;
        font-size: 14px;
    }
    .description {
        font-size: 18px;
        max-width: 350px;
        margin-right: auto;
    }
}
@media (max-width: 500px) {
    .quantity-block {
        margin-top: 30px;
    }
    
    .quantity-minus, .quantity-plus {
        width: 1px; 
        height: 50px; 
        font-size: 17px;
        padding: 5px 17px;
    }
    
    .quantity-minus {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }
    
    .quantity-input {
        width: 75px; 
        font-size: 14px;
        padding: 5px 10px;
    }
    
    .quantity-plus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
    
    .quantity-block span {
        font-size: 1.3125rem; 
        margin: 0 10px; 
        color: #000000;
    }
    .total1 {
        margin-right: auto;
    }
    .total-text {
        font-size: 14px;
        line-height: 30px;
    }
    .total-text-2 {
        font-size: 14px;
        line-height: 21px;
    }
    .total-price {
        font-size: 17px;
        line-height: 30px;
    }
    .price{
        font-size: 17px;
        line-height: 22px;
        white-space: nowrap;
    }
    .old-price1{
        font-size: 17px;
    }
    .old-price{
        font-size: 17px;
    }
    .discount-badge {
        font-size: 14px;
        width: 44px;
        height: 44px;
    }
    .description {
        font-size: 14px;
    }
    
}
@media (max-width: 440px) {
    .product-card {
        margin: 27px 16px 40px 16px;
        gap: 27px;
    }
    .slider-thumbnails-container {
        margin-left: 16px;
    }
    .title{
        font-size: 17px;
    }
    .add-to-cart, .buy-now {
        width: 330px;
        height: 55px;
        margin-right: auto;
    }
    
}



